.signInContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 181, 181);
  padding-bottom: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-80%);
  i {
    margin-top: 30px;
  }
  h1 {
    font-size: 1.5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 235px;
  }
  .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bold;
    input {
      padding: 5px;
      font-size: 1.2rem;
      background: white;
      border: 1px solid #2c3e50;
    }
  }
  .signInBtn {
    display: block;
    width: 104%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    text-decoration: underline;
    border: none;
  }
}
